
~$зайн документ.docx
*.7z
*.tmp
~$китин Курсовая GODOT.docx
Turn up the heat/.godot/editor/script_editor_cache.cfg
Turn up the heat/.godot/editor/editor_layout.cfg
Turn up the heat/.godot/editor/script_editor_cache.cfg
